<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet " href="css/style.css " />
        <link rel="stylesheet" href="css/hover.css" />
    </head>

    <body>
        <img class="vector vector1" src="images/Vector.png" alt="" />
        <img class="vector vector2" src="images/Vector1.png" alt="" />
        <nav class="navbar">
            <h1 class="logo">LOREM</h1>

            <ul class="nav-links">
                <li><a class="a" href="">Home</a></li>
                <li><a class="a" href="">About</a></li>
                <li><a class="a" href="">My work</a></li>

                <li class="contact"><a class="a" href="" c>Contact Me</a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>

        <div class="body">
            <div class="home">
                <div class="home-con1">
                    <h1 class="home-heading">
                        I am a <span class="conwri span">content writer</span>
                        <span class="and">&</span>
                        <span class="socmema span">social media manger</span>
                    </h1>

                    <p class="home-para">
                        I am offering my services as a content writer and social
                        media
                        marketing manager to you. Check out my work to have a
                        better idea of
                        my skills
                    </p>
                </div>
                <div class="home-con2">
                    <img src="images/vector3.png" alt="" class="home-vector
                        vector3" />
                    <img src="images/vector4.png" alt="" class="home-vector
                        vector4" />
                </div>
            </div>

            <div class="about">
                <div class="about-heading-con">
                    <h1 class="about-heading">About Me</h1>
                </div>
                <div class="about-main">
                    <div class="about-con1">
                        <h1 class="about-con-heading about-con2-heading">Content
                            writer</h1>
                        <p class="about-para about-para-1">
                            I have always loved doing research on topics and
                            gathering
                            information. Three years ago, I started my writing
                            journey. I have
                            been working as a professional content writer for
                            over two years
                            and have written over 150 articles in different
                            niches. I have a
                            strong grasp on research and I write content that is
                            grammatically
                            correct, well-structured, well-researched, and
                            plagiarism-free.
                        </p>
                    </div>
                    <div class="about-con2">
                        <h1 class="about-con-heading about-con2-heading">
                            Social Media Manager
                        </h1>
                        <p class="about-para">
                            I have always loved doing research on topics and
                            gathering
                            information. Three years ago, I started my writing
                            journey. I have
                            been working as a professional content writer for
                            over two years
                            and have written over 150 articles in different
                            niches. I have a
                            strong grasp on research and I write content that is
                            grammatically
                            correct, well-structured, well-researched, and
                            plagiarism-free.
                        </p>
                    </div>
                </div>
            </div>

            <div class="work">
                <h1 class="heading work-heading">my work</h1>
                <div class="work-con">
                    <div class="work-con1">
                        <h1 class="heading work-con1-heading">SOCIAL MEDIA
                            PROJECT</h1>
                        <p class="para">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. In
                            placerat hendrerit enim vel efficitur. Praesent
                            scelerisque
                            consequat justo non dignissim. Donec vel laoreet
                            purus. Donec vel
                            semper purus. Donec quis justo accumsan, lacinia
                            massa nec,
                            aliquam odio. Mauris laoreet, tellus at ultricies
                            vehicula, odio
                            urna vestibulum odio, nec cursus turpis leo nec
                            nibh. Praesent
                            laoreet consequat eros, ut vestibulum justo
                            ultricies nec. Nunc
                            condimentum commodo ipsum, vel volutpat nulla
                            lobortis eget.
                            Praesent suscipit erat a diam semper, sit amet
                            gravida lacus
                            vulputate. In ornare maximus ligula, vel porta diam
                            mattis
                            egestas. Vestibulum vel eleifend urna.
                        </p>
                        <button class="btn work-btn">Visit project</button>
                    </div>

                    <div class="work-con2">
                        <img class="work-con2-img" src="images/socialmedia.png"
                            alt="" />
                    </div>
                </div>
            </div>

            <div class="blog">
                <h1 class="heading work-heading blog-heading">Blogs</h1>
                <div class="grid">
                    <div class="img-wrapper">
                        <img
                            src="https://images.unsplash.com/photo-1604537466573-5e94508fd243?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxzZWFyY2h8MXx8bGFuZHNjYXBlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                            alt=""
                            class="blur"
                            />
                        <div class="content fade">
                            Lorem, ipsum dolor sit amet consectetur adipisicing
                            elit.
                            <a href="" class="blog-link">visit blog.</a>
                        </div>
                    </div>
                    <div class="img-wrapper">
                        <img
                            src="https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bGFuZHNjYXBlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                            alt=""
                            class="blur"
                            />
                        <div class="content fade">
                            Lorem, ipsum dolor sit amet consectetur adipisicing
                            elit.
                            <a href="" class="blog-link">visit blog.</a>
                        </div>
                    </div>
                    <div class="img-wrapper">
                        <img
                            src="https://images.unsplash.com/photo-1494500764479-0c8f2919a3d8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bGFuZHNjYXBlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                            alt=""
                            class="blur"
                            />
                        <div class="content fade">
                            Lorem, ipsum dolor sit amet consectetur adipisicing
                            elit.
                            <a href="" class="blog-link">visit blog.</a>
                        </div>
                    </div>
                    <div class="img-wrapper">
                        <img
                            src="https://images.unsplash.com/photo-1511884642898-4c92249e20b6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bGFuZHNjYXBlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                            alt=""
                            class="blur"
                            />
                        <div class="content fade">
                            Lorem, ipsum dolor sit amet consectetur adipisicing
                            elit.
                            <a href="" class="blog-link">visit blog.</a>
                        </div>
                    </div>
                    <div class="img-wrapper">
                        <img
                            src="https://images.unsplash.com/photo-1470770841072-f978cf4d019e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8bGFuZHNjYXBlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                            alt=""
                            class="blur"
                            />
                        <div class="content fade">
                            Lorem, ipsum dolor sit amet consectetur adipisicing
                            elit.
                            <a href="" class="blog-link">visit blog.</a>
                        </div>
                    </div>
                    <div class="img-wrapper">
                        <img
                            src="https://images.unsplash.com/34/BA1yLjNnQCI1yisIZGEi_2013-07-16_1922_IMG_9873.jpg?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGxhbmRzY2FwZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                            alt=""
                            class="blur"
                            />
                        <div class="content fade">
                            Lorem, ipsum dolor sit amet consectetur adipisicing
                            elit.
                            <a href="" class="blog-link">visit blog.</a>
                        </div>
                    </div>
                    <div class="img-wrapper">
                        <img
                            src="https://images.unsplash.com/photo-1429704658776-3d38c9990511?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGxhbmRzY2FwZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                            alt=""
                            class="blur"
                            />
                        <div class="content fade">
                            Lorem, ipsum dolor sit amet consectetur adipisicing
                            elit.
                            <a href="" class="blog-link">visit blog.</a>
                        </div>
                    </div>
                    <div class="img-wrapper">
                        <img
                            src="https://images.unsplash.com/photo-1559827291-72ee739d0d9a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGxhbmRzY2FwZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                            alt=""
                            class="blur"
                            />
                        <div class="content fade">
                            Lorem, ipsum dolor sit amet consectetur adipisicing
                            elit.
                            <a href="" class="blog-link">visit blog.</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="testimonial">
        <h1 class="testimonial-heading heading work-heading">Testimonial</h1>
        <div>
          <div class="card"></div>
        </div>
      </div> -->
            <div class="contact">
                <h1 class="heading contact-heading">Contact Me</h1>
                <div class="last-con">
                    <div class="contact-con1">
                        <p class="contact-con1-heading">Get in touch with me.</p>
                        <div class="contact-con1-span">
                            <img src="images/fac.png" class="contact-con1-img"
                                alt="" />
                            <a href="" class="contact-con1-a">xyz.xyz</a>
                        </div>
                        <div class="contact-con1-span">
                            <img src="images/insta.png" class="contact-con1-img"
                                alt="" />
                            <a href="" class="contact-con1-a">xyz.xyz</a>
                        </div>
                        <div class="contact-con1-span">
                            <img src="images/twitt.png" class="contact-con1-img"
                                alt="" />
                            <a href="" class="contact-con1-a">xyz.xyz</a>
                        </div>
                        <div class="contact-con1-span">
                            <img src="images/enve.png" class="contact-con1-img"
                                alt="" />
                            <a href="" class="contact-con1-a">xyz.xyz</a>
                        </div>
                    </div>
                    <div class="contact-con2">
                        <div class="contact-con2-span">
                            <p class="contact-con2-tag">Name</p>
                            <input type="" class="contact-con2-input" />
                        </div>
                        <div class="contact-con2-span">
                            <p class="contact-con2-tag">Email</p>
                            <input type="" class="contact-con2-input" />
                        </div>
                        <div class="contact-con2-span">
                            <p class="contact-con2-tag">Message</p>
                            <input type="" class="contact-con2-input" />
                        </div>
                    </div>
                </div>
            </div>
        </body>
        <script src="js/script.js"></script>
    </html>
